:root{
    --branco-princpal: white;
    --cinzasecundaria: rgb(129, 127, 127);
    --azulbotao: rgb(74, 74, 211);
    --cordefundo: black;
}

body {
    background: var(--cordefundo);
    color: var(--branco-princpal);
}

* {
    padding: 0%;
    margin: 0%;
}

.principal{
    background-image: url(Background.png);
}